In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import cufflinks as cf
import plotly.express as px

In [7]:
diamonds = pd.read_csv('../data/diamonds_clean.csv')
diamonds.drop('Unnamed: 0', axis=1,inplace=True)
diamonds.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,clarity_scale,color_scale,cut_scale
0,1.21,Premium,J,VS2,62.4,58.0,4268,6.83,6.79,4.25,3,0,5
1,0.32,Very Good,H,VS2,63.0,57.0,505,4.35,4.38,2.75,3,2,4
2,0.71,Fair,G,VS1,65.5,55.0,2686,5.62,5.53,3.65,4,3,2
3,0.41,Good,D,SI1,63.8,56.0,738,4.68,4.72,3.00,2,6,1
4,1.02,Ideal,G,SI1,60.5,59.0,4882,6.55,6.51,3.95,2,3,0